@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');




/* Contact page*/
.page2 {
    width: 100%;
    min-height: 100dvh;
}

.intro2 {
    background-color: #82AF48;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}


.block {
    width: 498px;
    position: relative;
    border-radius: 51px;
    background-color: #bde688;
    border: 6px solid #fff;
    box-sizing: border-box;
    height: 532px;
    top: 50px;
    left: -110px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: #5063C0;
}

/* Стили для header */
header {
    padding: 10px 0;
    font-family: "Inknut Antiqua", sans-serif;
}

header .container {
    display: none;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex; /* Горизонтальное расположение ссылок */
    position: relative;
    top: -300px;
    left: 790px;
    font-size: 32.62px;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #82AF48;
}

.page {
    width: 100%;
    min-height: 100vh;
}

.input {
    display: flex;
    flex-direction: column;
    padding: 10px 60px;
    border: 3px solid #ffffff;
    border-radius: 15px;
    background-color: transparent;
    color: #82AF48;
    font-size: 16px;
    font-family: "Inknut Antiqua", sans-serif;
    cursor: text;
    outline: none;
    text-align: center;
    transition: all 0.3s ease;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 171px;
    margin-left: 75px;
}

.email {
    display: flex;
    flex-direction: column;
    padding: 10px 60px;
    border: 3px solid #ffffff;
    border-radius: 15px;
    background-color: transparent;
    color: #82AF48;
    font-size: 16px;
    font-family: "Inknut Antiqua", sans-serif;
    cursor: text;
    outline: none;
    text-align: center;
    transition: all 0.3s ease;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 251px;
    margin-left: 75px;
}

.submit {
    display: flex;
    padding: 10px 100px;
    border: 3px solid #ffffff;
    border-radius: 15px;
    background-color: transparent;
    color: #82AF48;
    font-size: 16px;
    font-family: "Inknut Antiqua", sans-serif;
    text-align: center;
    position: absolute;    
    margin-top: 330px;
    margin-left: 120px;
}

.question {
    color: #ffffff;
    font-size: 30px;
    position: absolute;
    font-family: "Inknut Antiqua", sans-serif;
    margin-top: 95px;
    margin-left: 89px;
}

.kaz {
    position: absolute;
    margin-top: -590px;
    margin-left: -1157px;
}