/* Home Page */

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: #00A6C8;
}

/* Стили для header */
header {
    padding: 10px 0;
    font-family: "Inknut Antiqua", sans-serif;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex; /* Горизонтальное расположение ссылок */
    position: relative;
    top: -300px;
    left: 510px;
    font-family: "Inknut Antiqua", sans-serif;
    font-size: 25px;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #4f6798;
}

.page {
    width: 100%;
    min-height: 100dvh;
}

.intro {
    background-color: #00A6C8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.backl {
    background-color: #00A6C8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.flag {
    position: absolute;
    width: 388px;
    height: 388px;
    margin-top: 0px;
    margin-left: 0px;
}

.ssd {
    position: absolute;
    margin-top: -600px;
    margin-left: -1090px;
}